---
Language: Cpp
BasedOnStyle: Google
Standard: c++17

IndentWidth: 2
ColumnLimit: 100
UseTab: Never

# Qt-style pointers/references: "Type *name", "Type &name"
PointerAlignment: Right
ReferenceAlignment: Right
DerivePointerAlignment: false

AccessModifierOffset: -2
NamespaceIndentation: None
FixNamespaceComments: true

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

BreakBeforeBraces: Attach
Cpp11BracedListStyle: true

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
BinPackArguments: true
BinPackParameters: true

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: "^<"
    Priority: 2

SpacesBeforeTrailingComments: 2
SpaceAfterTemplateKeyword: true
